Remove uses of mbedtls_ecp_curve_info in TLS (with USE_PSA)

TLS currently relies on the structure `mbedtls_ecp_curve_info` and associated functions `mbedtls_ecp_curve_info_from_grp_id()` and `mbedtls_ecp_curve_info_from_tls_id()` for a number of purposes:

- checking the availability of a curve in the current build;
- translating between TLS (IANA) and ECP identifiers for the curve;
- getting a printable name for the curve, for use in debug messages.

Since this structure and the associated functions are not part of the PSA Crypto API, and we're trying to make TLS rely only on that API for crypto, it needs to stop using those. It is suggested to achieve that goal by creating new functions.

1. One or two functions for translation between TLS (IANA) identifiers and ECP group identifiers, when `MBEDTLS_USE_PSA_CRYPTO` is not defined; those would return a special value for unsupported curves, so they could be used to check for availability as well (this would be documented and tested).
2. One or two functions for translation between TLS (IANA) identifiers and PSA curve information (family + size), when `MBEDTLS_USE_PSA_CRYPTO` is defined; those would return a special value for unsupported curves, so they could be used to check for availability as well (this would be documented and tested).
3. One function for translation from TLS (IANA) identifiers and printable name, when `MBEDTLS_SSL_DEBUG_C` is defined.
4. One function for translation from printable name to TLS (IANA) identifier, for use in test programs.

Those functions would be declared in `ssl_misc.h` and implemented in `ssl_tls.c`, except the last one in `programs/ssl/ssl_test_lib.[ch]`.

Note: these functions must be fully independent from `ecp.c`/`ecp_curves.c`. While it looks like they're duplicating data from those files, this is a temporary thing as `mbedtls_ecp_curve_info` is going to be removed in the future (first from the public API, then probably entirely).

Note: the complete list of curves supported in TLS is given by the union of [RFC 8422](https://www.rfc-editor.org/rfc/rfc8422#section-5.1.1),  [RFC 7027](https://www.rfc-editor.org/rfc/rfc7027#section-2) and [RFC 8446](https://www.rfc-editor.org/rfc/rfc8446#section-4.2.7): secp256r1(0x0017), secp384r1(0x0018), secp521r1(0x0019), x25519(0x001D), x448(0x001E), brainpoolP256r1(26),              brainpoolP384r1(27), brainpoolP512r1(28). The TLS / IANA identifier is a `uint16_t`.

Definition of done: TLS must no longer call any `mbedtls_ecp_curve_info_from_xxx()` function, at least when `MBEDTLS_USE_PSA_CRYPTO` is defined. This can be checked using:
```
scripts/config.py full
make lib
docs/architecture/psa-migration/syms.sh full
grep mbedtls_ecp_curve_info_from full-tls-external
```
We may want to handle case where `MBEDTLS_USE_PSA_CRYPTO` is not defined at the same time for the sake of uniformity, or leave it as is, whatever's more convenient.

A dump of my personal notes reviewing uses of these functions in TLS library code:
```
ssl_client.c:
- ssl_write_supported_groups_ext(): availability + printable name

ssl_tls.c:
- ssl_handshake_init() (deprecated block) grp_id -> tls_id
- mbedtls_ssl_check_curve() grp_id -> tls_id
    - only used when USE_PSA is not defined?

ssl_tls12_client.c:
- ssl_check_server_ecdh_params() only the !USE_PSA version
- ssl_parse_server_key_exchange() ECJPAKE: tls_id
    (fixed curve, could honestly use a hardcoded buffer for comparison)

ssl_tls12_server.c:
- ssl_parse_supported_groups_ext(): availability
- ssl_prepare_server_key_exchange(): ECJPAKE: tls_id (see above)

ssl_tls13_client.c:
- ssl_tls13_get_default_group_id(): availability (with PSA)
- ssl_tls13_parse_hrr_key_share_ext(): availability (with PSA)
- ssl_tls13_parse_key_share_ext(): printable name
```

@mpg Do you think that it's worth to add this check 
```
scripts/config.py full
make lib
docs/architecture/psa-migration/syms.sh full
grep mbedtls_ecp_curve_info_from full-tls-external
```
to `all.sh` in order to verify if TLS is really "ecp" independent?

Good idea! Probably not worth adding a new component just for that, we can probably piggy-back on an existing component that builds with config full, for example in `component_test_full_cmake_gcc_asan` we can add a paragraph at the end with the last two lines your posted, of course with a nice comment explaining what this is about.

Note: for https://github.com/Mbed-TLS/mbedtls/issues/6843 we can probably do something similar but using `component_test_full_no_deprecated()` instead.