ClientHello extensions parse lack of inspection of repeatability

### Summary

When we tested TLS1.2 on the TLS handshake implementation part of mbedTLS, 
we found that the Server lack of inspection of repeatability when parsing the 
Extensions field of the ClientHello message, but responded normally. 

This is inconsistent with the specification "_There MUST NOT be more than one 
extension of the same type._" in section 7.4.1.4 of the RFC5246 documentation. 

The resolution ambiguity is easily caused, and if the processing of an extension 
is complex and consumes large resources, the malicious Client may attack the
Server by repeat someone Extensions.

### System information

Mbed TLS version (number or commit id): All versions.
Operating system and version: Ubuntu 20.04.
Configuration (if not default, please attach `mbedtls_config.h`): default.
Compiler and options (if you used a pre-built binary, please indicate how you obtained it): 
Additional environment information: 

### Expected behavior

Response with Alert message.


### Actual behavior

Normal response.


### Steps to reproduce

Send ClientHello message with repeated extensions.


### Additional information

Reference link for actual test sample results:
https://smalltown123.notion.site/mbedTLS-ClientHello-extensions-parse-lack-of-inspection-of-repeatability-fe9e02bc8b9e40c0bcb045d48b9fabe7
