Handshake failure if no Extensions for EC in client hello


Hi,

I am testing the Mbed TLS server with a client that uses non-Mbed TLS. The client only support a ECDHE cipher suite. The client sends hello message that doesn't include EC extensions (Supported Elliptic Curves and Supported Point Formats) . The server returns Handshake failure alert 0x6E00 "got ciphersuites in common, but none of them usable".  I traced back to where the error occur "ciphersuite mismatch: no common elliptic curve". 

However according to RFC8422 Section 4, If the client hello doesn't include EC extensions, the TLS server is free to choose any curve enabled and then proceed handshake.

   "The client MUST NOT include these extensions in the ClientHello 
   message if it does not propose any ECC cipher suites.  A client that
   proposes ECC cipher suites may choose not to include these
   extensions.  In this case, the server is free to choose any one of
   the elliptic curves or point formats listed in Section 5"


Thanks


