Upstream TLS 1.3 Pre-Shared Key extension writing and parsing on client side

This issue tracks the up-streaming of the client Pre-Shared Key extension writing and parsing.

Source: https://github.com/hannestschofenig/mbedtls/tree/tls13-prototype

multi-tickets and 0-RTT not in scope of this issue.

PLEASE READ THOROUGHLY section 4.2.11 of RFC 8446

Precise acceptance criteria:
Test (ssl-opt.sh test) with an OpenSSL/GnuTLS server that:
- [ ] a ClientHello containing a Pre-Shared Key extension is successfully parsed by the servers
- [ ] that the servers return in their ServerHello a Pre-Shared Key extension that the Mbed TLS client parses successfully.

See test "TLS 1.3, default suite, PSK" in the prototype to do the testing.
The success of the handshake using the pre-shared key is not part of this issue. 