mbedtls_x509_string_to_names() hanles repeated types incorrectly

`mbedtls_x509_string_to_names()` incorrectly handles inputs like `DC=example,DC=net`, where multiple RDNs have the same type (here, DC). The result of parsing this string is the same as if the string `DC=net` was passed, ie the first DC component was overwritten by the second one, instead of adding the 2nd one to the list. (This is caused by using `mbedtls_asn1_store_named_data()` which seems like the wrong tool for the job here.)

Names with multiple component of the same type are valid because:
- [RFC 4514 section 4](https://datatracker.ietf.org/doc/html/rfc4514#section-4) has such examples;
- there's nothing in the standards that forbids them (see below);
- clearly the DC type only makes sense if it can be repeated, and there's nothing that says this type would be special wrt repetition.

Note: X.501 section 4 says:

> The set that forms an RDN contains exactly one AttributeTypeAndValue for each attribute which contains distinguished values in the entry; that is, a given attribute type cannot appear twice in the same RDN.

But that's for (multi-valued*) RDNs. So, `DC=example+DC=net` wouldn't be legal, but `DC=example,DC=net` is.

*Note: there's [an open question](https://github.com/Mbed-TLS/mbedtls/issues/8193) whether we want to keep supporting multi-valued RDNs at all, but it's actually quite orthogonal to the present bug.