RFC 4514: Support numericoid / hexstring representation

Subtask of #6785.

Follows #7927

Add support for the representation of an AttributeType/AttributeValue pair in the numericoid and hexstring representation as described in [RFC 4514 section 3](https://www.rfc-editor.org/rfc/rfc4514#section-3).

For example, an AttributeType/AttributeValue pair could be represented as: `1.3.6.1.4.1.1466.0=#04024869`.

- Modify `mbedtls_x509_string_to_names()` to accept this representation, add tests.
- Modify `mbedtls_x509_dn_gets()` to use this representation when the `tag` of the value in the `mbedtls_x509_name` is not a string type, add tests.