RFC 4514: Escape special characters

Subtask of #6785

Implement escaping and de-escaping of special characters as described in [section 2.4 of RFC 4514](https://www.rfc-editor.org/rfc/rfc4514#section-2.4).

-  Modify `mbedtls_x509_dn_gets()` to escape special characters where it does not do so already.
- Modify `mbedtls_x509_string_to_names()` to de-escape special characters.
- Add testing for both functions to cover cases of escaped characters and (for parsing) incorrectly escaped characters.

The escaping of hex pairs (e.g. `\A5`, `\FF`) is covered in a separate issue.