TLS ECDH 3a: ECDHE-PSK (both sides, 1.2)

This task is to implement (both client-side and server-side) the ECDHE part of the ECDHE-PSK key exchange in (D)TLS 1.2 based on PSA when `MBEDTLS_USE_PSA_CRYPTO` is defined.

The ECDHE-PSK key exchange is defined in [RFC 5489 section 2](https://datatracker.ietf.org/doc/html/rfc5489#section-2), extending [RFC 4492](https://datatracker.ietf.org/doc/html/rfc4492).

We already have client-side support for ECDHE-ECDSA and ECDHE-RSA (see #2338 and #5291); ECDHE-PSK differs mostly in how the pre-master secret is formed: instead of being just the output of `psa_raw_key_agreement()`, this output is concatenated with the PSK, with some length bytes added to prevent ambiguity, as explained in the last two paragraphs of [RFC 5489 section 2](https://datatracker.ietf.org/doc/html/rfc5489#section-2). This computation is currently done in `mbedtls_ssl_psk_derive_premaster()`.

There are ECDHE-PSK specific code paths in:

- [ ] `mbedtls_ssl_psk_derive_premaster()`
- [ ] `ssl_write_client_key_exchange()
- [ ] `ssl_parse_server_key_exchange()` (can just extend the existing "ECDHE-ECDSA or ECDHE-RSA" PSA branch)
- [ ] `ssl_prepare_server_key_exchange()`
- [ ] `ssl_parse_client_key_exchange()`

Note: opaque PSKs (set with `mbedtls_ssl_conf_psk_opaque()`) are currently only supported for "pure" PSK, not for ECHDE-PSK. This task is not about adding support for opaque keys, just about making the ECDHE computations with PSA for ECDHE-PSK with non-opaque keys (that is, when `ssl_conf_has_static_raw_psk( ssl->conf )` returns true).

Depends on: #5317 for server-side support of ECDHE-ECDSA and ECDHE-RSA, some of which may be re-used here. (See also the description of #5317 for background of ECDHE in TLS 1.2 and a comparison between PSA and legacy APIs).