RFC 4514: Support all required AttributeType short names

Subtask of #6785

[RFC 4514 section 3](https://www.rfc-editor.org/rfc/rfc4514#section-3) requires that we support all of the following `AttributeType` short names:
```
CN      commonName (2.5.4.3)
L       localityName (2.5.4.7)
ST      stateOrProvinceName (2.5.4.8)
O       organizationName (2.5.4.10)
OU      organizationalUnitName (2.5.4.11)
C       countryName (2.5.4.6)
STREET  streetAddress (2.5.4.9)
DC      domainComponent (0.9.2342.19200300.100.1.25)
UID     userId (0.9.2342.19200300.100.1.1)
```

Add support for any of these that we are missing.