TLS 1.3 session resumption does not work

### Summary

I am using latest version and session resumption is not working with TLS 1.3 (works with TLS 1.2).

I tested this on Linux by using the following command:
programs/ssl/ssl_client2 server_name=twitter.com server_port=443 reconnect=1

Resumption fails with any TLS 1.3 site, but it works with TLS 1.2 sites.

Also, the option auth_mode=optional  does not work with TLS 1.3 connections, but it works with TLS 1.2 connections.


I got certificate verify error. Is it same with you @WillhelmSchmid ? 
```
Verify requested for (Depth 1):

Verify requested for (Depth 0):
 failed
  ! mbedtls_ssl_handshake returned -0x2700
    Unable to verify the server's certificate. Either it is invalid,
    or you didn't set ca_file or ca_path to an appropriate value.
    Alternatively, you may want to use auth_mode=optional for testing purposes.
```

> I tested this on Linux by using the following command:
> programs/ssl/ssl_client2 server_name=twitter.com server_port=443 reconnect=1
> Resumption fails with any TLS 1.3 site, but it works with TLS 1.2 sites.

In fact, `programs/ssl/ssl_client2 server_name=twitter.com server_port=443` also report same error. It is report in first connection. I don't think it is resumption issue. 

> Also, the option auth_mode=optional does not work with TLS 1.3 connections, but it works with TLS 1.2 connections.

According to [RFC 8446 section 4.3.3](https://datatracker.ietf.org/doc/html/rfc8446#section-4.4.3)，`auth_mode=optional` is forbidden.  The section said `If the verification fails, the receiver MUST terminate the handshake with a "decrypt_error" alert.`

Our message should be update for this case.


With #6498, please try `../programs/ssl/ssl_client2 server_name=twitter.com server_port=443 debug_level=4 ca_path=/etc/ssl/certs/ `. I verified the command on ubuntu 22.04. 
I am not sure other system CA certification folder path, please update `ca_path` if it is different.

