Crypto Support for RFC8332

### Suggested enhancement

Include support for rsa-sha2-256 to be compatible with OpenSSH on EL 9 servers. 

### Justification

Mbed TLS needs this because it is not compatible with OpenSSH ssh-rsa on EL 9 servers because of RFC 8332. 
Host key type for mpSSH-1.10 = ssh-rsa
Host signature type for OpenSSH-8.7 = rsa-sha2-256 which results in a invalid signature algorithm -0x1007 error
![Image](https://github.com/user-attachments/assets/b17f4130-6e6c-498d-b51f-636f42f99c35)

When doing Host Signature Please see snippet from OpenSSH:

In the SSH protocol, the "ssh-rsa" signature scheme uses the SHA-1
hash algorithm in conjunction with the RSA public key algorithm.
It is now possible[1] to perform chosen-prefix attacks against the
SHA-1 algorithm for less than USD$50K.

Note that the deactivation of "ssh-rsa" signatures does not necessarily
require cessation of use for RSA keys. In the SSH protocol, keys may be
capable of signing using multiple algorithms. In particular, "ssh-rsa"
keys are capable of signing using "rsa-sha2-256" (RSA/SHA256),
"rsa-sha2-512" (RSA/SHA512) and "ssh-rsa" (RSA/SHA1). Only the last of
these is being turned off by default.

This algorithm is unfortunately still used widely despite the
existence of better alternatives, being the only remaining public key
signature algorithm specified by the original SSH RFCs that is still
enabled by default.

The better alternatives include:

 * The [RFC8332](https://tools.ietf.org/html/rfc8332) RSA SHA-2 signature algorithms rsa-sha2-256/512. These
   algorithms have the advantage of using the same key type as
   "ssh-rsa" but use the safe SHA-2 hash algorithms. These have been
   supported since OpenSSH 7.2 and are already used by default if the
   client and server support them.

 * The [RFC8709](https://tools.ietf.org/html/rfc8709) ssh-ed25519 signature algorithm. It has been supported
   in OpenSSH since release 6.5.

 * The [RFC5656](https://tools.ietf.org/html/rfc5656) ECDSA algorithms: ecdsa-sha2-nistp256/384/521. These
   have been supported by OpenSSH since release 5.7.



Could you clarify what is missing in Mbed TLS? Mbed TLS does not implement the SSH protocol, only the cryptographic primitives. RFC 8332 specifies the use of SHA-256, SHA-512 and RSA PKCS#1v1.5 signature, all three of which are implemented in Mbed TLS (and has been since long before RFC 8332 was a thing). Mbed TLS also supports the cryptographic primitives for RFC 5656 (SHA-256, SHA-384, SHA-512, ECDH/p256, ECDSA/p256, ECDH/p388, ECDSA/p386, ECDH/p521, ECDSA/p521).

Mbed TLS does not yet support Ed25519 for RFC 8709. There is an [unofficial patch](https://github.com/Mbed-TLS/mbedtls/pull/5819) but we currently lack bandwidth to review it.

The problem is with the SSH library. Mbed TLS would be capable of doing the cryptography required for `rsa-sha2-*` (or `ecdsa-sha2`), but the SSH library rejects the request rather than asking Mbed TLS to use RSA with SHA2.

I am closing this issue because it's a feature request for the SSH library that's used here, not for Mbed TLS.