Dates earlier than 2000 incorrectly encoded as GENERALIZED_TIME

### Description
- Type: Bug
- Priority: Minor

The following code in x509write_crt.c's x509_write_time() function is supposed to check the date and then select an encoding according to RFC 5280 section 4.1.2.5:

   "CAs conforming to this profile MUST always encode certificate
   validity dates through the year 2049 as UTCTime; certificate validity
   dates in 2050 or later MUST be encoded as GeneralizedTime."

```
    /*
     * write MBEDTLS_ASN1_UTC_TIME if year < 2050 (2 bytes shorter)
     */
    if( t[0] == '2' && t[1] == '0' && t[2] < '5' )
```

The check as coded does not catch years between 1950 and 1999 inclusive, causing them to be encoded as GENERALIZED_TIME:

```
0087:    |  |  18 0f                            ; GENERALIZED_TIME (f Bytes)
0089:    |  |  |  31 39 38 38 30 35 31 33  30 30 30 31 30 32 5a     ; 19880513000102Z
         |  |  |     ;  13/05/1988 00:01
```

I know that nobody's likely to create a new certificate with validity so far back in the past, and so this is just a technicality, but it is still non-compliant with RFC 5280.

---------------------------------------------------------------
## Bug

**OS**  
All

**mbed TLS build:**  
Confirmed in latest version (2.16.0) and in 2.13.0.

Version: 2.16.0

**Expected behavior**   
"Valid Before" dates between 1950 and 1999 encoded as UTC_TIME by mbedtls_x509write_crt_der().

**Actual behavior**  
"Valid Before" dates between 1950 and 1999 encoded as GENERALIZED_TIME by mbedtls_x509write_crt_der().

**Steps to reproduce**  
Write code that calls the mbedtls_x509write_crt_der() function using a parameter of type mbedtls_x509write_cert* such that the "not_before" string is "19880513000102Z".


Fixed by PR #5827.