Study: decide strategy for RSA-PSS verification in X.509.

There's a mismatch between what PSA Crypto offers for RSA-PSS signature verification and what X.509 assumes: X.509 encodes a "salt length" parameter, but PSA can't accept it as an input/option in general. See "RSA-PSS parameters" in `docs/architecture/psa-migration/psa-limitations.txt` for details. (Note: this in only a problem for X.509, not TLS.)

Options include:

1. Doing all verifications with `PSA_ALG_RSA_PSS_ANY_SALT` - while this wouldn't cause a concrete security issue, this would be non-compliant (edit: or not, see next comment).
2. Doing verifications with `PSA_ALG_RSA_PSS` when we're lucky and the encoded saltlen happens to match hashlen, and falling back to `ANY_SALT` otherwise. Same issue (edit: or non-issue, see next comment) as with the previous point, except more contained.
3. Reject all certificates with saltlen != hashlen. This includes all certificates generated with OpenSSL using its default parameters, so it's probably not acceptable.
4. Request an extension to the PSA Crypto API and use one of the above options in the meantime. Such an extension seems inconvenient and not motivated by strong security arguments, so it's unclear whether it would be accepted.

This task is to come to a decision, and then create a series of estimated task implementing that decision. Edit: writing down a task was about as much work as implementing it, so I created a PR directly.

Actually, I checked [RFC 4055 section 3](https://datatracker.ietf.org/doc/html/rfc4055#section-3) (use of PSS in X.509) and nowhere does it say that people must verify that the salt length used in the signature is the same as the one encoded in the certificate. I previously assumed that from the fact that the syntax allows encoding a salt length, but the RFC never says so explicitly.

I also checked [RFC 8017](https://datatracker.ietf.org/doc/html/rfc8017#section-8.1.2) (definition of PSS) and it doesn't even present "expected salt length" as an input to the verification routine. However it's slightly inconsistent as it presents it as an option to the EMSA-PSS-VERIFY routine that is used by signature verification. This seems to be just about convenience, though, as the salt length can be recovered anyway, so it doesn't need to be known beforehand. So, convenience might also be the reason why the salt length is encoded in X.509: it might make the implementation of the verification routine slightly simpler.

Anyway, I'm no longer convinced that options 1 or 2 above would be non-compliant, so I'm now strongly in favour of going with option 1.

[RFC 4055 §3.3](https://datatracker.ietf.org/doc/html/rfc4055#section-3.3) states

> The saltLength field in the signature parameters MUST be greater or equal to that in the key parameters field.

which is a weird requirement if the salt length in the signature parameters isn't verified against the signature (which indeed I can't find explicitly written down in the RFCs).

But anyway I support option 1 at least until someone complains.

I am happy with option 1 too (until someone complains or comes up with a practical attack).

Firefox and WebPKI use option 3, for what it is worth.

Thanks for the info! Do you have a reference for that? I find it surprising that they can afford to reject certificate created by OpenSSL with its default settings, but that's certainly an interesting data point!

@mpg https://github.com/briansmith/webpki/blob/b481381e914de604df30b1be2fe72d938a5c0e57/src/signed_data.rs for WebPKI at least.

Ah, I was afraid it was going to be a case of "read the source" :) Here the test data on [lines 631-714](https://github.com/briansmith/webpki/blob/b481381e914de604df30b1be2fe72d938a5c0e57/src/signed_data.rs#L631-L714) indeed shows that all cases with saltlen != hashlen are rejected and that all the accepted cases have saltlen == hashlen. OTOH one comment suggests that Chromium supports saltlen != hashlen.

Thanks for the link!

Another advantage of being strict about the encodings one supports is that one does not actually need to parse the algorithm identifiers.  Instead, one can compare them against a hard-coded list of byte arrays, which reduces attack surface and probably code size too.

Thinking about is, I don't think moving to option 3 would be doable in a minor version, as it would break compatibility, so for now let's keep to option 2. But we may want to re-consider option 3 when preparing the the next major version.