Handling retransmission of last flight from DTLS client and retransmission of DTLS server's last flight

### Suggested enhancement
In my case if DTLS client misses last flight (change cipher spec) from the DTLS server, it retransmits its last flight (client key exchange).
But DTLS server thinks the handshake is over and drops the client's last flight treating as previous handshake frame from last handshake session.

As a fix for this issue can we move the mbedtls ssl state to MBEDTLS_SSL_CLIENT_KEY_EXCHANGE if DTLS server receives client's last flight after the completion of DTLS handshake ?

### Justification

Mbed TLS needs this because the DTLS RFC 6347 section 4.2.4 says:
`In addition, for at least twice the default MSL defined for [TCP],
when in the FINISHED state, the node that transmits the last flight
(the server in an ordinary handshake or the client in a resumed
handshake) MUST respond to a retransmit of the peer's last flight
with a retransmit of the last flight.  This avoids deadlock
conditions if the last flight gets lost.  This requirement applies to
DTLS 1.0 as well, and though not explicit in [DTLS1], it was always
required for the state machine to function correctly.  To see why
this is necessary, consider what happens in an ordinary handshake if
the server's Finished message is lost: the server believes the
handshake is complete but it actually is not.  As the client is
waiting for the Finished message, the client's retransmit timer will
fire and it will retransmit the client's Finished message.  This will
cause the server to respond with its own Finished message, completing
the handshake.  The same logic applies on the server side for the
resumed handshake.`



Hi @bensze01 
I am still stuck at this issue. Please let me know if there is any update.
Also please confirm if mbedTLS already supports this feature?