pem key discarded if header is not followed by a newline

Describe the bug
pem key discarded if header is not followed by a newline.

To Reproduce
Steps to reproduce the behavior:

provide a key, e.g.
-----BEGIN PUBLIC KEY-----MFk...-----END PUBLIC KEY----
will cause MBEDTLS_ERR_PEM_NO_HEADER_FOOTER_PRESENT

The is in \lib\mbedtls\library\pem.c
int mbedtls_pem_read_buffer()
line 380: else return( MBEDTLS_ERR_PEM_NO_HEADER_FOOTER_PRESENT );
    } else {
        return MBEDTLS_ERR_PEM_NO_HEADER_FOOTER_PRESENT;
    }

This else-statement should be disabled.

Expected behavior
An extra "\n" is unnecessary after "-----BEGIN PUBLIC KEY-----"

repo
Most recent commit 449bd83


According to [RFC 1421](https://www.rfc-editor.org/rfc/rfc1421#section-9), the header is supposed to be followed by a line break. We do relax the RFC 1421 format which is quite old: we accept CR or LF alone, and emit the platform's line break (`"\n"`). But not requiring a line break at all is a bigger deviation and may be error-prone. Is there another standard that doesn't require a line break? What common tools produce PEM files without a line break after the header?

[RFC 7468](https://www.rfc-editor.org/rfc/rfc7468#section-3) also requires a line break between the header and the base64 data.

RPC 7468 seems to indicate eol is not requried:
```
preeb      = "-----BEGIN " label "-----" ; unlike [[RFC1421](https://www.rfc-editor.org/rfc/rfc1421)] (A)BNF,
                                           ; eol is not required (but
posteb     = "-----END " label "-----"   ; see [[RFC1421], Section 4.4](https://www.rfc-editor.org/rfc/rfc1421#section-4.4))

```
Without a lax format, certain web services are difficult to include eol's, e.g., encoding \n and/or \r within a string value on https;//jwt.io